SERVER_PORT=8081
GRPC_SERVER_PORT=9091

SPRING_DATASOURCE_COMMAND_URL=jdbc:postgresql://aws-0-us-east-2.pooler.supabase.com:6543/postgres?reWriteBatchedInserts=true
SPRING_DATASOURCE_COMMAND_USERNAME=postgres.jyjbjqjjsnhoaryqautg
SPRING_DATASOURCE_COMMAND_PASSWORD=changeme

SPRING_DATASOURCE_QUERY_URL=jdbc:postgresql://aws-0-us-east-2.pooler.supabase.com:6543/postgres?reWriteBatchedInserts=true
SPRING_DATASOURCE_QUERY_USERNAME=postgres.jyjbjqjjsnhoaryqautg
SPRING_DATASOURCE_QUERY_PASSWORD=changeme

SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
CORS_ALLOWED_ORIGINS=http://localhost:4200

MICROSERVICE_AUDIT_URL=
MICROSERVICE_AUTH_URL=
MICROSERVICE_UTILITY_URL=

GRPCSERVICE_AUDIT_URL=
GRPCSERVICE_AUTH_URL=
GRPCSERVICE_UTILITY_URL=

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_SMTP_AUTH=true
SPRING_MAIL_SMTP_STARTTLS_ENABLE=true

OCI_CONFIG_PROFILE=default
OCI_OBJECTSTORAGE_BUCKET=
OCI_OBJECTSTORAGE_NAMESPACE=
OCI_TENANCY=
OCI_USER=
OCI_FINGERPRINT=
OCI_REGION=
OCI_PEM=

SONAR_TOKEN=
